
body{
    font-family: 'Poppins', sans-serif;
    border: 0;
    font-weight:700;
    overflow-x: hidden ;
    max-width:100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 15px 20px;
    background-image: linear-gradient(90deg , #c21273 , #FF008E );
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 7px 0 #ff008c4b;
    position: relative;
    top: 0;
    

}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #ff008c4b;
}
.section-title{
    text-align: center;
}
.section-title h2{
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid orangered;
    margin: 75px 0;
    

}
.ratings p{
    color: orangered;
}
/* Website-heading */

.website-heading{
    margin-left:80px;
    margin-top: 40px;
}
.highlight{
    color: orangered;
}

/* menu-part */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
}


/* banner Part */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:calc(100vh-80px)
   
}
.banner-left{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}
.banner-left h1{
    font-size: 40px;
}
.banner-left p{
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-right img{
    width: 80%;
    margin-top: 80px;
    
}
.banner-right img:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in ;
}



/* card section */
.card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: rgb(56, 55, 55);
    
}
.card-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 474px;
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
    
}
.card-info img {
    width: 300px;
    height: 256px;
    overflow: hidden;
}
.card-info h2{
    text-align: left;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}
.card-info p{
    width: 300px;
    margin-bottom: 10px;
}

.feature-extension{
    margin-top: 40px;
    color: #FF008E;
    text-align: end;
}

/* contact part */

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.contact-left img{
    width: 85%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-family: inherit;
    outline: 0;
    border: 1px solid orangered;
}

/* footer part */

.footer-details {
    color: #ffffff;
    background-color: #0a0826;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
  }
  .social-icon .fab {
    padding-right: 16px;
    font-size: 24px;
    margin-top: 10px;
    text-decoration: none;
    color: lightgray;
  }

/* responsive css =--------

mobile

------

*/


@media (max-width:668px) {
    .website-heading{
        font-size: 10px;
        text-align:start;
        width: 100%;
        

    }
    .banner{
        grid-template-columns: 1fr;
        height: fit-content;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .banner-left h1{
        font-size: 20px;
        text-align:start;
        margin-bottom: 10px;
        width: 100%;

    }
    .banner-left p{
        font-size: 14px;
        width: 100%;
        text-align:left;
    }
    .primary-button{
        padding: 10px;
        margin-top: 10px;
        font-size: 10px;
        justify-content: center;
        align-items: center;
    }
    .section-title h2{ 
        font-size: 14px;
        width: 100%;
        justify-content: center;
        
    }
    
    .feature{
        grid-template-columns: 1fr;
    
    }
    .feature-extension h3{
        width: 100%;
       text-align: end;
        

    }
    
    .banner-left{
        order: 1;
       
    }
    .banner-right{
        order: 2;
    }
    .banner-right img{
        width: 90%;
        align-items: center;
    }
    .card{
        grid-template-columns: 1fr;
        height: fit-content;
        justify-content: center;
        align-items: center;
        width: 100%;
       
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .contact-left img{
        width: 100%;
        
        
    }
    .contact-right form{
        width: 100%;
        justify-content: center;
        align-items: flex-start;

    }
    .text-field{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .footer-details{
        display: flex;
        flex-direction: column;
        /* justify-content:;
        align-items: center; */
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
    footer h2{
        width: 100%;
        font-size: 18px;
        text-align: center;
        
    }
    footer small{
        width: 100%;
        font-size: 14px;
        text-align: center;
        margin: auto;
        color:white;
        
    }
    footer p{
        width: 100%;
        color:white;
        font-size: 13px;
    }
}

/* tablet responsive-------- */


@media only screen and (min-width: 688px) and (max-width: 992px){
    .banner{
        grid-template-columns: 1fr;
    }
    .card{
        grid-template-columns: repeat(2,1fr);
    }
}